.main {
  display: flex;
  background-color: rgb(168, 235, 212);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  border: 1px solid;
  border-radius: 10px;
  border: none;

  padding: 2rem;
  background-color: rgb(152, 133, 170);
  /* margin-top: 5rem; */
  width: 15rem;
  min-height: 25vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.container:hover {
  border: 1px solid;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px 5px;
  padding: 2rem;
  background-color: rgb(152, 133, 170);
  transition: all 0.3s ease;
  width: 15rem;
  min-height: 25vh;
}
img {
  width: 30%;
  display: block;
  margin: 0.5rem auto;
}
